@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.logo {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 0%;
    text-align: center;
}

.logo img {
    width: 20%;
    margin: 0%;
}

.hamburger {
    display: none;
}

.down-arrow {
    display: none;
}

.welcome-text {
    padding-bottom: 2%;
    text-align: center;
    grid-column: 2/3;
    align-self: end;
    font-size: 20px;
}

.welcome-text span {
    color: #2A8C82;
}

.introduction {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 90% 1fr;
    grid-template-columns: 1fr 90% 1fr;
    justify-items: center;
}

.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    transform: translateY(-30vh);
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    font-size: 19px;
    font-weight: 500;
    text-decoration: none;
    color: #2A8C82;
    border: 2px #2A8C82 solid;
    padding: 5px;
    transition: all .4s ease;
}

.nav-links li a:hover{
    color: white;
    background: #2A8C82;
}

main {
    height: 300vh;
    background: grey;
}

.summery {
    font-family: 'Montserrat', sans-serif;
    width: 90%;
    margin: auto;
}

.background {
    height: 100vh;
    display: flex;
    align-items: center;
    background: white;
}

.team {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    height: 80vh;
    width: 90%;
    color: white;
    margin: auto;
    background: #182940;
}

.texts {
    width: 90%;
    margin: auto;
}

.team h1 {
    font-size: 40px;
}

.team p {
    font-size: 18px;
}

.roboter {
    color: white;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    height: 80vh;
    width: 90%;
    margin: auto;
    background: #182940;
}

.sponsoring {
    color: white;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    height: 80vh;
    width: 90%;
    margin: auto;
    background: #182940;
}

a {
    color: white;
}